.android-compact {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.android-compact .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 412px;
  height: 4506px;
  position: relative;
}

.android-compact .text-wrapper {
  position: absolute;
  top: 264px;
  left: 95px;
  font-family: "Poppins-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 12.6px;
  letter-spacing: 0;
  line-height: normal;
  animation: slideInUp 0.8s ease-out forwards;
}

.android-compact .overlap {
  position: absolute;
  width: 386px;
  height: 146px;
  top: 283px;
  left: 17px;
}

.android-compact .text-wrapper-2 {
  position: absolute;
  top: 77px;
  left: 348px;
  font-family: "Poppins-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 7.3px;
  letter-spacing: 0;
  line-height: normal;
  animation: slideInUp 0.8s ease-out forwards;
}

.android-compact .overlap-group {
  position: absolute;
  width: 386px;
  height: 146px;
  top: 0;
  left: 0;
}

.android-compact .text-wrapper-3 {
  position: absolute;
  top: 129px;
  left: 6px;
  font-family: "Poppins-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 11.3px;
  letter-spacing: 0;
  line-height: normal;
  animation: slideInUp 0.8s ease-out forwards;
}

.android-compact .text-wrapper-4 {
  position: absolute;
  top: 0;
  left: 33px;
  font-family: "Trap-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 109.8px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  animation: slideInUp 0.8s ease-out forwards;
}

.android-compact .text-wrapper-5 {
  position: absolute;
  top: 96px;
  left: 0;
  -webkit-text-stroke: 0.29px #000000;
  font-family: "Trap-Bold", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 30.8px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  animation: slideInUp 0.8s ease-out forwards;
}

.android-compact .text-wrapper-6 {
  position: absolute;
  top: 132px;
  left: 187px;
  font-family: "Poppins-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 9.3px;
  letter-spacing: 0;
  line-height: normal;
  animation: slideInUp 0.8s ease-out forwards;
}

.android-compact .text-wrapper-7 {
  position: absolute;
  top: 132px;
  left: 234px;
  font-family: "Poppins-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 9.3px;
  letter-spacing: 0;
  line-height: normal;
  animation: slideInUp 0.8s ease-out forwards;
}

.android-compact .text-wrapper-8 {
  position: absolute;
  top: 132px;
  left: 299px;
  font-family: "Poppins-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 9.2px;
  letter-spacing: 0;
  line-height: normal;
  animation: slideInUp 0.8s ease-out forwards;
}

.android-compact .text-wrapper-9 {
  position: absolute;
  top: 132px;
  left: 347px;
  font-family: "Poppins-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 9.2px;
  letter-spacing: 0;
  line-height: normal;
  animation: slideInUp 0.8s ease-out forwards;
}

.android-compact .overlap-2 {
  position: absolute;
  width: 438px;
  height: 524px;
  top: 453px;
  left: -17px;
}
@keyframes slideInUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.android-compact .IMG {
  position: absolute;
  width: 412px;
  height: 464px;
  top: 0;
  left: 17px;
  mix-blend-mode: luminosity;
  animation: slideInUp 0.8s ease-out forwards;
}

.android-compact .ellipse {
  position: absolute;
  width: 421px;
  height: 65px;
  top: 422px;
  left: 0;
  background-color: #ffffff;
  border-radius: 210.54px/32.46px;
  filter: blur(28.99px);
}

.android-compact .frame {
  position: absolute;
  width: 105px;
  height: 32px;
  top: 410px;
  left: 86px;
  background-color: #000000;
  border-radius: 1.55px;
  transition: all 0.3s ease; /* enables smooth animation */
  cursor: pointer; /* makes it feel clickable */
}
.android-compact .frame:hover {
  color: #fae609; /* change to any color you like */
  transform: translateY(-5px); /* subtle lift effect */
}
.android-compact .text-wrapper-10 {
  position: absolute;
  top: 9px;
  left: 25px;
  font-family: "Poppins-Light", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;

}


.android-compact .group {
  position: absolute;
  width: 119px;
  height: 32px;
  top: 410px;
  left: 243px;
}

.android-compact .div-wrapper {
  position: relative;
  width: 117px;
  height: 32px;
  border-radius: 1.55px;
  border: 0.52px solid;
  border-color: #000000;
  transition: all 0.3s ease; /* enables smooth animation */
  cursor: pointer; /* makes it feel clickable */
}
.android-compact .div-wrapper:hover {
  color: #fae609; /* change to any color you like */
  transform: translateY(-5px); /* subtle lift effect */
}
.android-compact .text-wrapper-11 {
  position: absolute;
  top: 9px;
  left: 18px;
  font-family: "Poppins-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;

}


.android-compact .rectangle {
  position: absolute;
  width: 424px;
  height: 60px;
  top: 464px;
  left: 14px;
  background-color: #000000;
}

.android-compact .thumbnail {
  position: absolute;
  width: 56px;
  height: 31px;
  top: 480px;
  left: 48px;
  object-fit: cover;
}

.android-compact .element {
  position: absolute;
  width: 62px;
  height: 30px;
  top: 480px;
  left: 161px;
}

.android-compact .png-clipart-logo {
  position: absolute;
  width: 29px;
  height: 29px;
  top: 481px;
  left: 279px;
  object-fit: cover;
}

.android-compact .css {
  position: absolute;
  width: 33px;
  height: 33px;
  top: 479px;
  left: 365px;
  object-fit: cover;
}

.android-compact .text-wrapper-12 {
  position: absolute;
  top: 1024px;
  left: 86px;
  -webkit-text-stroke: 0.47px #000000;
  font-family: "Trap-Bold", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 50px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.android-compact .hi-i-m-jeevanandham {
  position: absolute;
  width: 391px;
  top: 1089px;
  left: 13px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 11.6px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.android-compact .p {
  position: absolute;
  top: 1207px;
  left: 13px;
  font-family: "Trap-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 18.1px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.android-compact .element-what-you-re {
  position: absolute;
  top: 1551px;
  left: 13px;
  font-family: "Trap-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 18.1px;
  letter-spacing: 0;
  line-height: normal;
  
}

.android-compact .i-m-deeply {
  position: absolute;
  width: 372px;
  top: 1250px;
  left: 20px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15.3px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.android-compact .i-m-currently {
  position: absolute;
  width: 372px;
  top: 1591px;
  left: 20px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15.3px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.android-compact .overlap-3 {
  position: absolute;
  width: 419px;
  height: 396px;
  top: 1997px;
  left: -1px;
  background-color: #000000;
}

.android-compact .group-2 {
  position: absolute;
  width: 352px;
  height: 100px;
  top: 256px;
  left: 21px;
}

.android-compact .text-wrapper-13 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Trap-Bold", Helvetica;
  font-weight: 700;
  color: #901b1b;
  font-size: 14.2px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.android-compact .text-wrapper-14 {
  position: absolute;
  width: 251px;
  top: 21px;
  left: 0;
  font-family: "Poppins-Italic", Helvetica;
  font-weight: 400;
  font-style: italic;
  color: #ffffff;
  font-size: 12.2px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.android-compact .text-wrapper-15 {
  position: absolute;
  width: 251px;
  top: 42px;
  left: 0;
  font-family: "Poppins-Italic", Helvetica;
  font-weight: 400;
  font-style: italic;
  color: #ffffff;
  font-size: 12.2px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.android-compact .text-wrapper-16 {
  position: absolute;
  width: 342px;
  top: 63px;
  left: 0;
  font-family: "Poppins-Italic", Helvetica;
  font-weight: 400;
  font-style: italic;
  color: #ffffff;
  font-size: 11.5px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.android-compact .text-wrapper-17 {
  position: absolute;
  width: 342px;
  top: 83px;
  left: 0;
  font-family: "Poppins-Italic", Helvetica;
  font-weight: 400;
  font-style: italic;
  color: #ffffff;
  font-size: 11.5px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.android-compact .group-3 {
  position: absolute;
  width: 363px;
  height: 84px;
  top: 149px;
  left: 21px;
}

.android-compact .text-wrapper-18 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Trap-Bold", Helvetica;
  font-weight: 700;
  color: #901b1b;
  font-size: 14.7px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.android-compact .text-wrapper-19 {
  position: absolute;
  width: 260px;
  top: 22px;
  left: 0;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 12.7px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.android-compact .text-wrapper-20 {
  position: absolute;
  width: 355px;
  top: 45px;
  left: 0;
  font-family: "Poppins-Italic", Helvetica;
  font-weight: 400;
  font-style: italic;
  color: #ffffff;
  font-size: 11.9px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.android-compact .text-wrapper-21 {
  position: absolute;
  width: 355px;
  top: 66px;
  left: 0;
  font-family: "Poppins-Italic", Helvetica;
  font-weight: 400;
  font-style: italic;
  color: #ffffff;
  font-size: 11.9px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.android-compact .text-wrapper-22 {
  position: absolute;
  top: 35px;
  left: 69px;
  font-family: "Trap-Bold", Helvetica;
  font-weight: 700;
  color: #901b1b;
  font-size: 24.5px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.android-compact .overlap-4 {
  position: absolute;
  width: 419px;
  height: 539px;
  top: 3967px;
  left: -4px;
  background-color: #000000;
}

.android-compact .formkit-whatsapp {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 510px;
  left: 335px;
}

.android-compact .mdi-instagram {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 510px;
  left: 359px;
}

.android-compact .mdi-linkedin {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 510px;
  left: 382px;
}

.android-compact .proicons-call {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 417px;
  left: 18px;
}

.android-compact .material-symbols {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 439px;
  left: 17px;
}

.android-compact .clarity-world-solid {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 462px;
  left: 19px;
}

.android-compact .text-wrapper-23 {
  position: absolute;
  top: 381px;
  left: 20px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20.9px;
  letter-spacing: 0;
  line-height: normal;
}

.android-compact .text-wrapper-24 {
  position: absolute;
  top: 416px;
  left: 40px;
  font-family: "Poppins-Light", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 12.1px;
  letter-spacing: 0;
  line-height: normal;
}

.android-compact .text-wrapper-25 {
  position: absolute;
  top: 438px;
  left: 40px;
  font-family: "Poppins-Light", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 12.1px;
  letter-spacing: 0;
  line-height: normal;
}

.android-compact .text-wrapper-26 {
  position: absolute;
  top: 460px;
  left: 40px;
  font-family: "Poppins-Light", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 12.1px;
  letter-spacing: 0;
  line-height: normal;
}

.android-compact .overlap-5 {
  position: absolute;
  width: 395px;
  height: 85px;
  top: 227px;
  left: 13px;
}

.android-compact .text-wrapper-27 {
  position: absolute;
  width: 360px;
  top: 60px;
  left: 7px;
  font-family: "Poppins-Light", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 10.6px;
  letter-spacing: 2.23px;
  line-height: normal;
}
@font-face {
  font-family: 'MyFont2'; /* You name it */
  src: url('fonts/Trap-Light.otf') format('truetype'); /* Adjust path/format as needed */
}

.android-compact .text-wrapper-28 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'MyFont2', sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 58px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.android-compact .overlap-wrapper {
  position: absolute;
  width: 70px;
  height: 21px;
  top: 22px;
  left: 330px;
}

.android-compact .overlap-6 {
  position: relative;
  width: 68px;
  height: 21px;
  background-color: #ffffff;
  border-radius: 1.09px;
}

.android-compact .text-wrapper-29 {
  position: absolute;
  top: 5px;
  left: 15px;
  font-family: "Poppins-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}
@font-face {
  font-family: 'MyFont'; /* You name it */
  src: url('fonts/Signatie.otf') format('truetype'); /* Adjust path/format as needed */
}

.android-compact .text-wrapper-30 {
  position: absolute;
  top: 5px;
  left: 14px;
  font-family: 'MyFont', sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 19.8px;
  letter-spacing: 0;
  line-height: normal;
}

.android-compact .overlap-7 {
  position: absolute;
  width: 412px;
  height: 367px;
  top: 2393px;
  left: 0;
  background-image: url(./images/5d9989734e88e1ada6db603117c8f009\ 1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.android-compact .overlap-group-wrapper {
  position: absolute;
  width: 380px;
  height: 23px;
  top: 174px;
  left: 20px;
}

.android-compact .overlap-8 {
  position: relative;
  width: 376px;
  height: 23px;
  background-color: #000000;
  border-radius: 10.57px;
}

.android-compact .text-wrapper-31 {
  top: 5px;
  left: 20px;
  color: #ffffff;
  font-size: 8.8px;
  position: absolute;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}

.android-compact .text-wrapper-32 {
  position: absolute;
  top: 5px;
  left: 338px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 8.8px;
  letter-spacing: 0;
  line-height: normal;
}

.android-compact .group-4 {
  position: absolute;
  width: 306px;
  height: 23px;
  top: 207px;
  left: 20px;
}

.android-compact .overlap-9 {
  position: relative;
  width: 302px;
  height: 23px;
  background-color: #000000;
  border-radius: 10.57px;
}

.android-compact .text-wrapper-33 {
  left: 273px;
  position: absolute;
  top: 5px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 8.8px;
  letter-spacing: 0;
  line-height: normal;
}

.android-compact .group-5 {
  position: absolute;
  width: 292px;
  height: 23px;
  top: 240px;
  left: 20px;
}

.android-compact .overlap-10 {
  position: relative;
  width: 288px;
  height: 23px;
  background-color: #000000;
  border-radius: 10.57px;
}

.android-compact .text-wrapper-34 {
  left: 258px;
  position: absolute;
  top: 5px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 8.8px;
  letter-spacing: 0;
  line-height: normal;
}

.android-compact .group-6 {
  position: absolute;
  width: 236px;
  height: 23px;
  top: 272px;
  left: 20px;
}

.android-compact .overlap-11 {
  position: relative;
  width: 232px;
  height: 23px;
  background-color: #000000;
  border-radius: 10.57px;
}

.android-compact .text-wrapper-35 {
  left: 207px;
  position: absolute;
  top: 5px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 8.8px;
  letter-spacing: 0;
  line-height: normal;
}

.android-compact .group-7 {
  position: absolute;
  width: 236px;
  height: 23px;
  top: 305px;
  left: 20px;
}

.android-compact .text-wrapper-36 {
  left: 204px;
  position: absolute;
  top: 5px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 8.8px;
  letter-spacing: 0;
  line-height: normal;
}

.android-compact .group-8 {
  position: absolute;
  width: 84px;
  height: 27px;
  top: 69px;
  left: 78px;
}

.android-compact .overlap-12 {
  position: relative;
  width: 82px;
  height: 27px;
  border-radius: 12.46px;
}

.android-compact .text-wrapper-37 {
  top: 6px;
  left: 24px;
  color: #000000;
  font-size: 10.4px;
  position: absolute;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}

.android-compact .group-9 {
  position: absolute;
  width: 84px;
  height: 27px;
  top: 69px;
  left: 165px;
}

.android-compact .text-wrapper-38 {
  top: 6px;
  left: 25px;
  color: #000000;
  font-size: 10.4px;
  position: absolute;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}

.android-compact .group-10 {
  position: absolute;
  width: 84px;
  height: 27px;
  top: 69px;
  left: 252px;
}

.android-compact .text-wrapper-39 {
  top: 6px;
  left: 30px;
  color: #000000;
  font-size: 10.4px;
  position: absolute;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}

.android-compact .group-11 {
  position: absolute;
  width: 84px;
  height: 27px;
  top: 107px;
  left: 116px;
}

.android-compact .text-wrapper-40 {
  position: absolute;
  top: 6px;
  left: 35px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 10.4px;
  letter-spacing: 0;
  line-height: normal;
}

.android-compact .group-12 {
  position: absolute;
  width: 84px;
  height: 27px;
  top: 107px;
  left: 213px;
}

.android-compact .text-wrapper-41 {
  position: absolute;
  top: 6px;
  left: 27px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 10.4px;
  letter-spacing: 0;
  line-height: normal;
}

.android-compact .text-wrapper-42 {
  position: absolute;
  top: 22px;
  left: 172px;
  font-family: "Trap-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24.5px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.android-compact .text-wrapper-43 {
  position: absolute;
  top: 2777px;
  left: 154px;
  -webkit-text-stroke: 0.76px #000000;
  font-family: "Trap-Bold", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 32.1px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.android-compact .overlap-13 {
  position: absolute;
  width: 324px;
  height: 248px;
  top: 2847px;
  left: 46px;
  background-color: #000000;
  border-radius: 9.54px;
}

.android-compact .a-responsive {
  position: absolute;
  width: 303px;
  top: 194px;
  left: 11px;
  font-family: "Poppins-Light", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 12.5px;
  letter-spacing: 0;
  line-height: normal;
}

.android-compact .macbook-air {
  position: absolute;
  width: 302px;
  height: 152px;
  top: 11px;
  left: 11px;
}

.android-compact .overlap-14 {
  position: absolute;
  width: 324px;
  height: 248px;
  top: 3127px;
  left: 46px;
  background-color: #000000;
  border-radius: 9.54px;
}

.android-compact .text-wrapper-44 {
  position: absolute;
  width: 303px;
  top: 189px;
  left: 11px;
  font-family: "Poppins-Light", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.android-compact .img {
  position: absolute;
  width: 302px;
  height: 152px;
  top: 11px;
  left: 11px;
  object-fit: cover;
}

.android-compact .overlap-15 {
  position: absolute;
  width: 324px;
  height: 248px;
  top: 3407px;
  left: 46px;
  background-color: #000000;
  border-radius: 9.54px;
}

.android-compact .text-wrapper-45 {
  top: 194px;
  position: absolute;
  width: 303px;
  left: 11px;
  font-family: "Poppins-Light", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.android-compact .frame-2 {
  position: absolute;
  width: 306px;
  height: 153px;
  top: 11px;
  left: 9px;
  object-fit: cover;
}

.android-compact .overlap-16 {
  position: absolute;
  width: 324px;
  height: 248px;
  top: 3687px;
  left: 46px;
  background-color: #000000;
  border-radius: 9.54px;
}

.android-compact .text-wrapper-46 {
  top: 187px;
  position: absolute;
  width: 303px;
  left: 11px;
  font-family: "Poppins-Light", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.android-compact .section {
  position: absolute;
  width: 301px;
  height: 163px;
  top: 11px;
  left: 11px;
}

.android-compact .text-wrapper-47 {
  position: absolute;
  top: 43px;
  left: 261px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 11.3px;
  letter-spacing: 0;
  line-height: normal;
}

.android-compact .text-wrapper-48 {
  position: absolute;
  top: 43px;
  left: 319px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 11.3px;
  letter-spacing: 0;
  line-height: normal;
}

.android-compact .text-wrapper-49 {
  position: absolute;
  top: 43px;
  left: 366px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 11.3px;
  letter-spacing: 0;
  line-height: normal;
}

.android-compact .text-wrapper-50 {
  position: absolute;
  top: 31px;
  left: 16px;
  font-family: 'MyFont', sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 19px;
  letter-spacing: 0;
  line-height: normal;
}
